GROQ_API_KEY=
GIT_TERMINAL_PROMPT=0

SECRET_KEY=something_secure
ACCESS_TOKEN_EXPIRE_MINUTES=30

CHROMA_DB_PATH="chroma"

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
REDIS_URL="redis://localhost:6379/0"

